= content_for :head do
  = javascript_include_tag 'sort_by'

%section.genre
  %header.clearfix
    %h1= @category.name
    .genre_sorting
      = form_tag category_path(@category), method: 'GET' do
        = label_tag :sort_by, "Sort by:", class: 'control-label'
        = select_tag :sort_by, options_for_select([['Title: A - Z', "a-z"], [ 'Title: Z - A', "z-a"], ["Rating", "rating"]], selected: params[:sort_by]), class: "form-control"
  %article.row
    - @videos.each do |video|
      .video.col-md-2
        = link_to video_path(video), nil do
          %img(src="#{video.small_cover}")
